*{
    /* 取消页面内外边距 */
    margin: 0;
    padding: 0;
    /* 边框包含在总宽高内 */
    box-sizing: border-box;
}
.con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 100%的窗口高度 */
    height: 100vh;
    line-height: 80px;
    /* font-size: 30px; */
    letter-spacing: 3px;
    /* 字间距 */
}
.wrapper{
    /* 固定于窗口 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 渐变背景,linear-gradient 200deg渐变角度 */
    background: linear-gradient(200deg,#ec77ab,#7873f5);
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
}
.menu-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    background: linear-gradient(200deg,#ec77ab,#7873f5);
    text-align: center;
    line-height: 50px;
    width: 50px;
    height:50px;
    border-radius: 50%;
    cursor: pointer;
    color: #FFffff;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}


#menu_btn{
    display: none;
}
/* :checked input匹配器    ~ 相邻兄弟选择器 */
#menu_btn:checked ~ .wrapper{
    /* 将元素剪切为一个圆形 75%为直径 */
    clip-path: circle(75%);
}
#menu_btn:checked ~ .menu-btn{
    color:#d576ba;
    background: #fff;
}
/* 复选框选中时改变图标 */
#menu_btn:checked ~ .menu-btn i::before{
    content: "\f00d"; /*  X */
}

.wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    /* 绝对定位使用50% 50%并不能完全居中,需要平移元素自身距离 */
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
}
.wrapper ul li{
    margin: 30px 0;
}
.wrapper ul li a{
    color: #FFffff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 50px;
    position: relative;
    line-height: 50px;
}
.wrapper ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    background:#FFffff;
    z-index: -1;
    border-radius: 50px;
    left: 0;
    transform: scaleY(0);
    /* 过渡动画  transition(css name , 动画时间 , 执行方式 , 开始的时候)*/ 
    transition: transform 0.3s ease;
}
.wrapper ul li a:hover::after{
    transform: scaleY(1); /* 开启y轴移动 */
}
.wrapper ul li a:hover{
    color: #d576ba;
}

